@using TestMotiv.DTO

@model SubscriberRequestDto

<h2>Редактирование обращения</h2>

<form method="post">
    <div class="form-group">
        @Html.LabelFor(i => i.Phone)
        @Html.TextBoxFor(i => i.Phone, new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.RequestReasonId)
        @Html.DropDownListFor(i => i.RequestReasonId, new SelectList(new List<KeyValuePair<string, string>>()), new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.CountryName)
        @Html.TextBoxFor(i => i.CountryName, new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.RegionName)
        @Html.TextBoxFor(i => i.RegionName, new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.CityName)
        @Html.TextBoxFor(i => i.CityName, new {@class = "form-control"})
    </div>
    <div class="form-group">
        <input type="submit" value="Применить" class="btn btn-block btn-success">
    </div>
</form>

@section scripts
{
    <script>
    $(() => {
        const selector = '#@nameof(SubscriberRequestDto.RequestReasonId)';
        const url = '@Url.Action("List", "RequestReason")';
        const value = '@Model.RequestReasonId';
        setDropDownValue(selector, url, value);
    });
    </script>
}
