@using TestMotiv.DTO

@model PageResultDto<SubscriberRequestFilterDto, SubscriberRequestDto>

@{
    var createdFrom = Model.Filter.CreatedFrom?.ToString("yyyy-MM-dd");
    var createdTo = Model.Filter.CreatedTo?.ToString("yyyy-MM-dd");
}
<h2>Обращения абонентов</h2>
<div class="row">
    <div class="col-sm-3">
        <form method="get">
            <div class="form-group">
                @Html.LabelFor(i => i.Filter.CountryName)
                @Html.TextBoxFor(i => i.Filter.CountryName, new {@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.LabelFor(i => i.Filter.RegionName)
                @Html.TextBoxFor(i => i.Filter.RegionName, new {@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.LabelFor(i => i.Filter.CityName)
                @Html.TextBoxFor(i => i.Filter.CityName, new {@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.LabelFor(i => i.Filter.Phone)
                @Html.TextBoxFor(i => i.Filter.Phone, new {@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.LabelFor(i => i.Filter.RequestReason)
                @Html.TextBoxFor(i => i.Filter.RequestReason, new {@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.LabelFor(i => i.Filter.DepartmentId)
                @Html.DropDownListFor(i => i.Filter.DepartmentId, new SelectList(new List<KeyValuePair<string, string>>()), new {@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.LabelFor(i => i.Filter.CreatedFrom)
                <div class="row">
                    <div class="col-sm-6">
                        @Html.TextBoxFor(i => i.Filter.CreatedFrom, new {type = "date", value = createdFrom, @class = "form-control"})
                    </div>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(i => i.Filter.CreatedTo, new {type = "date", value = createdTo, @class = "form-control"})
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Отфильтровать" class="form-control">
            </div>
        </form>
        @Html.ActionLink("Добавить", "Create", "SubscriberRequest", null, new {@class = "btn btn-success btn-block"})
    </div>
    <div class="col-sm-9">
        @Html.Partial("Components/Pagination", new PaginationDto
            {
                Total = Model.Total,
                PageData = Model.PageData,
                FilterDict = new Dictionary<string, string>
                {
                    {nameof(Model.Filter.Phone), Model?.Filter?.Phone ?? string.Empty},
                    {nameof(Model.Filter.CountryName), Model?.Filter?.CountryName},
                    {nameof(Model.Filter.CityName), Model?.Filter?.CityName},
                    {nameof(Model.Filter.RegionName), Model?.Filter?.RegionName},
                    {nameof(Model.Filter.RequestReason), Model?.Filter?.RequestReason},
                    {nameof(Model.Filter.DepartmentId), Model?.Filter?.DepartmentId.ToString()},
                }
            })
        <table class="table">
            <thead>
            <tr>
                <th>Страна</th>
                <th>Регион</th>
                <th>Населенный пункт</th>
                <th>Номер абонента</th>
                <th>Причина обращения</th>
                <th>Направление принявшее заявку</th>
                <th>Дата и время создания</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            @foreach (var item in Model?.Items ?? new List<SubscriberRequestDto>())
            {
                <tr>
                    <td>@item.CountryName</td>
                    <td>@item.RegionName</td>
                    <td>@item.CityName</td>
                    <td>@item.Phone</td>
                    <td>@item.RequestReason</td>
                    <td>@item.DepartmentName</td>
                    <td>@item.Created</td>
                    <td>
                         @Html.ActionLink("Изменить", "Update", "SubscriberRequest", new {id = item.Id}, new {@class = "btn btn-primary btn-block"})
                    </td>
                    <td>
                        <button type="button" data-action="delete" value="@item.Id" class="btn btn-danger">Удалить</button>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@section scripts
{
    <script >
        $(() => {
            const prepartmentSelector = '#@($"{nameof(Model.Filter)}_{nameof(Model.Filter.DepartmentId)}")';
            const prepartmentUrl = '@Url.Action("List", "Department")';
            const prepartmentValue = '@Model.Filter.DepartmentId';
            setDropDownValue(prepartmentSelector, prepartmentUrl, prepartmentValue, true);
            setDeleteButtonsHandler('@Url.Action("Delete")');
        })
    </script>
}
