@using TestMotiv.DTO

@model PageResultDto<BaseFilterDto, DepartmentDto>
<h2>Причины обращений</h2>

<div class="row">
    <div class="col-sm-3">
        @Html.ActionLink("Добавить", "Create", "Department", null, new {@class = "btn btn-success btn-block"})
    </div>
    <div class="col-sm-9">
        @Html.Partial("Components/Pagination", new PaginationDto
        {
            Total = Model.Total,
            PageData = Model.PageData,
            FilterDict = new Dictionary<string, string>()
        })
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            @foreach (var row in Model.Items)
            {
                <tr>
                    <td>@row.Id</td>
                    <td>@row.Name</td>
                    <td>@Html.ActionLink("Изменить", "Update", "Department", new { id = row.Id }, new { @class = "btn btn-primary btn-block" })</td>
                    <td>
                    <button type="button" data-action="delete" value="@row.Id" class="btn btn-danger btn-block">Удалить</button>
                </tr>
            }
        </table>
    </div>
</div>

@section scripts
{
    <script >
        $(() => {
            setDeleteButtonsHandler('@Url.Action("Delete")');
        })
    </script>
}
