@using TestMotiv.DTO

@model PageResultDto<BaseFilterDto, RequestReasonDto>
<h2>Причины обращений</h2>

<div class="row">
    <div class="col-sm-3">
        @Html.ActionLink("Добавить", "Create", "RequestReason", null, new {@class = "btn btn-success btn-block"})
    </div>
    <div class="col-sm-9">
        @Html.Partial("Components/Pagination", new PaginationDto
                    {
                        Total = Model.Total,
                        PageData = Model.PageData,
                        FilterDict = new Dictionary<string, string>()
                    })
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            @foreach (var row in Model.Items)
            {
                <tr>
                    <td>@row.Id</td>
                    <td>@row.Name</td>
                    <td>@Html.ActionLink("Изменить", "Update", "RequestReason", new { id = row.Id }, new { @class = "btn btn-primary btn-block" })</td>
                    <td>
                    <button name="delete-element" class="btn btn-danger btn-block">Удалить</button>
                </tr>
            }
        </table>
    </div>
</div>